@tailwind base;
@tailwind components;

.search_box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  @apply ml-8 border-b-2 border-white hover:border-blue-400 h-full flex items-center;
  a {
    @apply py-10 px-5;
  }
}

.btn {
  @apply text-center rounded-sm py-5 font-medium text-lg w-full;
}

form {
  input {
    @apply rounded-sm py-4 font-medium text-lg w-full text-left border border-gray-500 px-5 focus:outline-none focus:border-red-300 mb-3;
  }
}

.has_error {
  input {
    @apply bg-red-300;
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  20% {
    opacity: 1;
    transform: translateY(50px);
  }
  80% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.mymessage {
  animation: messageFadeIn 3s ease-in-out forwards;
  &.error {
    @apply bg-red-400;
  }
  &.info {
    @apply bg-blue-300;
  }
  &.success {
    @apply bg-green-700;
  }
  &.warning {
    @apply bg-yellow-400;
  }
}

@tailwind utilities;
